.bg-video-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Overlay */
.overlay-auth-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.973);
  z-index: 1;
}

.dashboard-container {
  position: relative; 
  min-height: 100vh;
  background-color: #0e0e0e;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 30px 4%;
  z-index: 1;
}

/* HEADER */
.dashboard-header {
  position: relative; 
  text-align: center;
  margin-bottom: 30px;
  z-index: 3;
}

.h-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.notification-bell{
    font-size: 1.3rem;
    font-weight: 600;
    color:#ffd323;
    cursor: pointer;
}
.customer-support{
    font-size: 1.2rem;
    color:#ffcc00;
    cursor: pointer;
    margin-left: 15px;
}
.dashboard-header p {
  color: #ccccccde;
  font-size: .8rem;
  text-align: start;
}
.highlight-p {
  color: #ffcc00;
  font-size: 0.9rem;
  font-weight: 400;
}
.text-brand{
    font-weight: 500;
    font-size:1.4rem;
    text-align: start;
}
.highlight {
  color: #ffcc00;
  font-size: 1.3rem;
}

/* STORIES */
.stories-section {
     position: relative; 
  margin-bottom: 60px;
  z-index: 3;
}
.stories-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #fff;
}
.stories-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  scrollbar-width: none;
}
.stories-container::-webkit-scrollbar {
  display: none;
}

.story {
  text-align: center;
  flex-shrink: 0;
}
.story-ring {
  background: linear-gradient(45deg, #ffcc00, #ff0066);
  padding: 3px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-inner {
  background: #111;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-text {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.story-name {
  font-size: 0.85rem;
  color: #ccc;
  margin-top: 5px;
}

/* CREATE STORE */
.create-store-section {
     position: relative;
     border-radius: 10px; 
     padding: 10px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
    z-index: 3;
    width: 100%;
    background-color: #d1a700;
}
.create-store-card {
  position: relative; 
  /* background-color: #ffcc00; */
  /* background: rgba(255, 255, 255, 0.05); */
  /* border: 1px solid #333; */
    
  
  
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 3;
  display: flex;
    flex-direction: column;
  gap: 10px;
  align-items: center;
}
.create-store-card:hover {
  transform: scale(1.02);
  border-color: #ffcc00;
}
/* .create-store-card h3 {
  color: #ffcc00;
  font-size: .9rem;
 
} */
/* .create-store-card p {
  color: #ccc;
  margin-bottom: 25px;
} */
.create-btn {
  background: #020100;
  
  color: #e2df07;
  border: none;
  padding: 5px 16px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
  
}
.create-btn:hover {
  background: #e2b204;
}
.create-store-text{
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 10px;
}
.link-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;

}

.your-store-link-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    padding: 5px 10px
}
.store-link{
    color: #ffffff;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: underline;
}
.view-store{
    margin-right: 10px;
    font-size: .9rem;
    text-decoration: underline;
    color: #ffffff;
}

.safety-icon{
    color: #04b846;
    font-size: 20px;
}

.creating-store{
     display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    width: 100%;
    padding: 0px 10px

}

/* FEED */
.vendor-feed h2 {
     position: relative; 
  font-size: 1.5rem;
  margin-bottom: 20px;
    z-index: 3;
}
.vendor-grid {
        position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
    z-index: 3;
}
.vendor-card {
        position: relative;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #333;
  border-radius: 15px;
  padding: 20px;
  transition: all 0.3s ease;
    z-index: 3
}
.vendor-card:hover {
  transform: scale(1.03);
  border-color: #ffcc00;
}
.vendor-card h4 {
  color: #ffcc00;
  margin-bottom: 8px;
}
.vendor-card p {
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.view-btn {
  background: #ffcc00;
  color: #000;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}
.view-btn:hover {
  background: #ffd633;
}
.loading-text {
  color: #999;
}
