.view-close{
    display: flex;
    gap: 5px;
    align-items: center;
}

.store-full-link{
    width: 180px;
    white-space: nowrap;       /* keep on a single line */
  overflow: hidden;          /* hide overflow */
  text-overflow: ellipsis;   /* show "..." at the end */
  display: inline-block; 
  font-weight: 400;
  color: black;
}

.store-link{
    text-decoration: none;
}

.view-status{
   text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 9999;   /* sits above everything */
  color: white;
  font-size: .7rem;
}