.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #000000;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #c9c9c9;
  font-size: 12px;
}

.nav-item .icon-footer {
  font-size: 20px;
}

.nav-item.active {
  color: #000;
  font-weight: 600;
}
