.message-bar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 500px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #111;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  z-index: 9999;
  animation: slideDown 0.8s ease forwards;
}

.message-bar.success {
  border-left: 5px solid #02ca4b; /* green */
  /* background-color: #2cc564bb; */
   background-color: #000000bb;
}

.message-bar.error {
  border-left: 5px solid #ef4444; /* red */
    /* background-color: #e0545493; */
    background-color: #000000bb;
}

.message-bar.pending {
  border-left: 5px solid #f59e0b; /* yellow */
  /* background-color: #f5c542bb; */
  background-color: #000000bb;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
