/* Vendify Add Status Page - WhatsApp Style */


.status-page {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  padding: 16px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

/* Header */
.status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.status-header h1 {
  font-size: 22px;
  font-weight: 600;
}

.status-header .icon {
  cursor: pointer;
}

/* My Status */
.my-status-section {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.my-status-avatar {
  width: 75px;
  height: 60px ;
  border-radius: 50%;
  position: relative;
}

.add-status-updates{
  line-height: 1.5rem;
}

.my-status-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #444;
}

.add-status-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e2df07;
  color: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.my-store-title {
  font-size: 18px;
  font-weight: 600;
}

.my-store-sub {
  font-size: 11px;
  color: #aaa;
}

/* Buttons */
/* .status-btn-row {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
} */

.camera-btn,
.gallery-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  border-radius: 50%;
  
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.camera-btn {
  background: #00000098;
  color: #ffffff;
 border: 1px solid #e2df07;
}

.gallery-btn {
  background: #0f0f0f;
  color: #fff;
  border: 1px solid #333;
}

/* Recent Updates */
.recent-title {
  font-size: 11px;
  color: #ccc;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.recent-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-item {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

/* WhatsApp Ring Effect */
.status-ring {
  width: 64px;
  height: 64px;
  padding: 3px;
  border-radius: 50%;
  background: linear-gradient(45deg, #d1a700, #111);
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-ring-inner {
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
}

.status-ring-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-name {
  font-size: 16px;
  font-weight: 600;
}

.recent-time {
  font-size: 12px;
  color: #999;
}


.flex-status-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}