/* Background video */
.bg-video-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Overlay */
.overlay-auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

/* Container */
.auth-container {
  position: relative;
  z-index: 2;
  padding: 80px 10%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: start;
  height: 100vh;
    box-sizing: border-box;
}

.auth-container h1 {
  font-size: 2.4rem;
  color: #ffcc00;
  margin-bottom: 10px;
}

.auth-container p {
  color: #dddddd;
  font-size: 1rem;
  margin-bottom: 40px;
}

/* Form */
.auth-form {
  max-width: 500px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.685);
  border: 1px solid #ffcc005b;
  padding: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  color: #ffcc00;
  font-weight: 500;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffcc00;
  background: transparent;
  color: #fff;
  border-radius: 2px;
  outline: none;
  font-size: 1rem;
}

.form-group input::placeholder {
  color: #ccc;
}

/* Button */
.auth-btn {
  width: 100%;
  background: transparent;
  border: 2px solid #ffcc005b;
  color: #ffcc00;
  padding: 12px;
  font-size: 1.1rem;
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-btn:hover {
  background: #ffcc00;
  color: #000;
}

/* Switch links */
.auth-switch {
  margin-top: 25px;
  color: #ddd;
}

.auth-switch a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 768px) {
  .auth-container {
    padding: 60px 6%;
  }

  .auth-container h1 {
    font-size: 2rem;
  }

  .auth-form {
    padding: 25px;
  }
}
